<div class="container">
    <mat-grid-list [cols]="breakpoint" rowHeight="3:2" (window:resize)="onResize($event)">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
            <img src={{film.Poster}} alt="">
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>{{film.Title}}</mat-card-title>
                <mat-card-subtitle>
                    <p><span class="rated">{{film.Rated}}</span> {{film.Year}}, {{genreToString()}}, {{film.Runtime}}</p>
                </mat-card-subtitle>
                <mat-card-content>
                    <h1>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star" id="star"></mat-icon>
                        {{film.imdbRating}}<span class="rating">/10</span>
                    </h1>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <h1 class="textLine">Movie Info</h1>
    <div class="info">
        <mat-list role="list">
            <mat-list-item role="listitem">{{film.Plot}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"><span class="title">Actors</span>{{film.Actors}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"><span class="title">Director</span>{{film.Director}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"><span class="title">Writer</span>{{film.Writer}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"><span class="title">Genre</span>{{film.Genre}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"><span class="title">Awards</span>{{film.Awards}}</mat-list-item>
        </mat-list>
    </div>
</div>